<!DOCTYPE html>
<html>
  <head>
    <style>
      li, ul {
        font-size: 100%;
        font: inherit;
      }
      .ticket-details {
        display: none;
      }

      .show-details {
        .ticket-details {
          display: block;
        }
      }

      .ticket-details {
        div {
          display: flex;
          div:first-child {
            width: 190px;
            padding-left: 10px; 
          }
        }
      }

      .train-list {
        list-style: none;
        padding: 0;
      }
      .train-header {
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      .ticket-summary {
        display: flex;

        .ticket-type { 
          width: 200px;
        }
      }
    </style>
    <script>
      window.addEventListener('load', function() {
        document.querySelectorAll('.ticket-summary').forEach(child => {
          child.addEventListener('click', function() {
            this.parentElement.classList.toggle('show-details');
          });
        });
      });
    </script>

  </head>
  <body>
  <h1>{{ name }}</h1>
  <ul class="train-list">
    {% for train in trains %}
    <li>
        <div class="train-header">
          {{ train.train.train.depart.strftime('%Y-%m-%d %H:%M') }}
          {{ train.train.train.from_name }}
          to
          {{ train.train.train.to_name }}
        </div>
        {% if train.ticket_types.items()|length > 0 %}
          {% for key, availabilities in train.ticket_types.items() %}
            <div class="ticket">
              <div class="ticket-summary">
                <div class="ticket-type">
                  {{ key }}
                </div class="ticket-price">
                <div>
                  {% if availabilities.price is not none and availabilities.price.price is not none %}
                  {{ "%.2f €"|format(availabilities.price.price) }}
                  {% else %}
                  -
                  {% endif %}
                </div>
              </div>
              <div class="ticket-details">
                <div>
                  <div>
                      Max
                  </div>
                  <div>
                      {{ "%.2f €"|format(availabilities.max_price.price) }}
                  </div>
                </div>
                <div>
                  <div>
                      Min
                  </div>
                  <div>
                      {{ "%.2f €"|format(availabilities.min_price.price) }}
                  </div>
                </div>

                <div>
                  <div>
                      Available
                  </div>
                  <div>
                      {{ availabilities.first_sold.date.strftime('%Y-%m-%d %H:%M') }}
                  </div>
                </div>

                <div>
                  <div>
                      Sold-out
                  </div>
                  <div>
                      {% if availabilities.price is not none and availabilities.price.price is not none %}
                        -
                      {% else %}
                        {{ availabilities.last_sold.date.strftime('%Y-%m-%d %H:%M') }}
                      {% endif %}
                  </div>
                </div>

                <div>
                  <div>
                      Last update
                  </div>
                  <div>
                      {{ availabilities.last_sold.date.strftime('%Y-%m-%d %H:%M') }}
                  </div>
                </div>

                <div>
                  <div>
                      Last check
                  </div>
                  <div>
                      {{ train.last_checked.strftime('%Y-%m-%d %H:%M') }}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            No tickets have been found for this train. 
          </div>
        {% endif %}
        <p>
          Last checked {{ train.last_checked.strftime('%Y-%m-%d %H:%M') }} 
        </p>
    </li>
    {% endfor %}
  </ul>
  </body>
</html>
